@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');
body{
	background-color: #FF1493;
	color: #fff;
	font-family: 'Libre Franklin', sans-serif;
}
header{

}
.main-msg{
	margin-top: 100px;
	font-size: 1.3rem;
	font-weight: 1000;
}

h1{
	animation-name: h1;
	top: 40px;
	animation-duration: 1s;
	position: relative;
	animation-direction: reverse;
}
@keyframes h1{
  from  { top:0;}
  to { top:40px;}

}
h2{
	animation-name: h2;
	top: 50px;
	animation-duration: 2s;
	animation-direction: reverse;
	position: relative;
}
@keyframes h2{
    from{ top: 0; }
    to{ top: 60px; }
}
.gift{
	margin-top: -50px;
    transition: transform .2s;
    animation-name: gift;
    top: 30px;
    animation-duration: 3s;
    animation-direction: reverse;
    position: relative; 
}
@keyframes gift{
	from{ top: 0; }
	to{ top: 60px; }
}
.gift:hover{
	transform: scale(1.1);
}
input{
   width: 18rem;
   height: 3rem;
   color: #fff;
   background: rgba(0,0,0,0.4);
   border: none;
}
button{
	color: #FF1493;
	width: 6rem;
	height: 3rem;
	margin-left: -3px;
	cursor: pointer;
}
.icons{
	margin-top: 8rem;
}
p{
	color: #000;
	opacity: 0.7;
	position: fixed;
	bottom: 0;
	float: right;
	display: block;
	right: 0; 
}
.icons{
	display: block;
	left: 0;
	width: 50%;
	float: left;
	
}

